- name: Load Maven
  ansible.builtin.import_role:
    name: common
    tasks_from: maven

- name: Install MySQL Client
  ansible.builtin.dnf:
    name: mysql
    state: present

# - name: Load schema
#   ansible.builtin.shell: mysql -h mysql-{{ env }}.rdevopsb87.online -uroot -pRoboShop@1 < /app/db/schema.sql
#
# - name: Load user
#   ansible.builtin.shell: mysql -h mysql-{{ env }}.rdevopsb87.online -uroot -pRoboShop@1 < /app/db/app-user.sql
#
# - name: Load master data
#   ansible.builtin.shell: mysql -h mysql-{{ env }}.rdevopsb87.online -uroot -pRoboShop@1 < /app/db/master-data.sql


- name: Load SQL Files
  ansible.builtin.shell: mysql -h mysql-{{ env }}.rdevopsb87.online -uroot -pRoboShop@1 < /app/db/{{ item }}.sql
  loop:
    - schema
    - app-user
    - master-data

